.jumbotron {
  background-color: #348ceb;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: #348ceb;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-empresa {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-icon-address {
  padding-right: 10px;
}
.link_footer {
  color: #ffffff;
}
.icon-card {
  padding-right: 10px;
}
.img-banner-top {
  padding-top: 25px;
}
.tab-content {
  padding-top: 20px;
}
.index-collapse {
  padding-top: 20px;
  padding-bottom: 20px;
}
