$purple: #02072b;
$blue:#02072b;
$white: #ffffff;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $blue;
    color: $white;
    @include margenes(10px, 0px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $purple;
    color: $white;
    @include margenes(10px, 0px);
}

.card-empresa {
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-icon-address {
    padding-right: 10px;
}

.link_footer {
    color: $white;
}

.icon-card {
    padding-right: 10px;
}

.img-banner-top {
    padding-top: 25px;
}

.tab-content {
    padding-top: 20px;
}

.index-collapse {
    padding-top: 20px;
    padding-bottom: 20px;
}