@purple: #348ceb;
@green: #06471d;
@red: #630414;
@white: #ffffff;

.margenes(@top: 10px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @purple;
    color: @white;
    .margenes(10px, 0px);
}

.btn {
    
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: @purple;
    color: @white;
    .margenes(10px, 0px);
}

.card-empresa {
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-icon-address {
    padding-right: 10px;
}

.link_footer {
    color: @white;
}

.icon-card {
    padding-right: 10px;
}

.img-banner-top {
    padding-top: 25px;
}

.tab-content {
    padding-top: 20px;
}

.index-collapse {
    padding-top: 20px;
    padding-bottom: 20px;
}